.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Default-layout {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chapters {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 24px 0;
  text-align: center;
}

.Chapters a {
  text-decoration: none;
  color: #fff;
  height: 40px;
  padding: 0;
}

.Title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.Image-wrap {
  max-width: 300px;
  margin: 20px auto;
}

.Image-wrap img {
  width: 100%;
}

.Code-wrap {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
}

.Code-editor {
  width: 50%;
  grid-column: 1;
  height: 100%;
}

.Code-result {
  width: 50%;
  height: 100%;
  grid-column: 1;
  background-color: #efefef;
}
