.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Default-layout {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chapters {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 24px 0;
  text-align: center;
}

.Chapters a {
  text-decoration: none;
  color: #fff;
  height: 40px;
  padding: 0;
}

.Line {
  width: 100%;
  height: 1px;
  margin: 24px auto;
  background-color: #fff;
}

.Title {
  max-width: 600px;
  margin: 0 auto 12px;
  background-color: #fff;
  color: #333333;
  padding: 2px;
  line-height: initial;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.Sub-title {
  max-width: 600px;
  margin: 0 auto 16px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;

}

.Image-wrap {
  max-width: 300px;
  margin: 20px auto;
}

.Image-wrap img {
  width: 100%;
}

.Code-wrap {
  display: flex;
  min-width: 1024px;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
}

.Code-editor {
  width: 50%;
  grid-column: 1;
  height: 100%;
}

.Code-result {
  width: 50%;
  height: 100%;
  grid-column: 1;
  background-color: #efefef;
}


.Contents-wrap {
  width: 100%;
  height: auto;
}

.Contents-wrap {
  height: auto;
  font-size: 14px;
  display: flex;
  justify-content: start;
}

.Contents-menu {
  width: 240px;
  height: auto;
  font-size: 12px;
  border: 1px solid #333333;
  background-color: rgb(31, 28, 39);
  margin: 0 16px 0 0;
  padding: 0;
  list-style: none;
}

.Contents-menu-title {
  background-color: rgb(31, 28, 39);
  font-weight: bold;
}

.Contents-menu-title,
.Contents-menu-items {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  border-bottom: 1px solid #333333;
}

.Contents-menu-items.on,
.Contents-menu-items:hover {
  background-color: rgba(65, 59, 82, 0.311);
}

.Contents-menu-items a {
  text-decoration: none;
  color: #fff;
}

.Contents-item {
  width: calc(100% - 300px);
}

.Contents-desc {

}

